<ion-content>
  <ion-fab horizontal="center" vertical="end">
    <ion-title size="large">FREE YOU</ion-title>
  </ion-fab>
  <ion-card class="login-card" justify-content-center align-items-center>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input type="text" [(ngModel)]="user.email" placeholder="Insira seu E-mail Cadastrado"
          ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input type="password" pattern="password"  [(ngModel)]="user.password"  placeholder="Insira sua Senha"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-footer>
      <div class="form-error">{{user.loginError}}</div>
      <ion-toolbar>
         <ion-buttons slot="end"><ion-button (click)="login()">Entrar</ion-button></ion-buttons>
        <ion-buttons  slot="start"><ion-button (click)="Cadastro()">Cadastre-se</ion-button></ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-card>

</ion-content>