<ion-content>
    <!-- <div id="favoritos"> 

    <div class="telev">

        <img class="av1" src="../../assets/avatar.png">

    </div>

    <div class="telev1">

        <img class="av1" src="../../assets/avatar.png">

    </div>

    <div class="telev2">

        <img class="av1" src="../../assets/avatar.png">

    </div> -->

    <!-- 
    <div class="telev3">

        <img class="av1" src="../../assets/avatar.png">

    </div>


    <div class="telev4">

        <img class="av1" src="../../assets/avatar.png">

    </div>



    </div> -->







    <div #map>

        <div class="topo" [hidden]="destination">
            <div class="menu">canto </div>
            <div class="bus">

                <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="Para onde?">
                </ion-searchbar>
            </div>
            <div class="dir"></div>
        </div>




        <ion-list class="ion-margin-horizontal" [hidden]="!search.length">

            <ion-item (click)="calcRoute(result)" *ngFor="let result of searchResults">

                {{ result.description }}

            </ion-item>

        </ion-list>



<div  [hidden]="escolha" >

        <div class="request-car ion-padding ion-text-center" [hidden]="!destination">
            <div class="voltar">
                <ion-button class="ion-margin-top" (click)="back()" color="dark" fill="clear" size="small">
                    <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
                </ion-button>
            </div>

            <div class="car">
              <div class="titi">

              <div>
                    <span>Distancia {{allan}}</span>
                </div>
                <div>
                    <span>Tempo médio de viagem {{yasmin}}</span>
                    <!-- <span>Valor médio dessa viagem {{media1}}</span> -->
                </div>
            </div>
            </div>
            <ion-list [hidden]="ok">
                <ion-item>
                    <ion-label>Motorista Mulher</ion-label>
                    <ion-toggle color="primary"></ion-toggle>
                </ion-item>

                <ion-item>
                    <ion-label>Veiculo 7 lugares </ion-label>
                    <ion-toggle color="primary"></ion-toggle>
                </ion-item>

                <ion-item>
                    <ion-label>Porta-malas grande </ion-label>
                    <ion-toggle color="primary"></ion-toggle>
                </ion-item>

                <ion-item>
                    <ion-label>Conforto / luxo</ion-label>
                    <ion-toggle color="primary"></ion-toggle>
                </ion-item>

                <ion-item>
                    <ion-label>Veiculo adapitado para cadeirante </ion-label>
                    <ion-toggle color="primary"></ion-toggle>
                </ion-item>
                
                <ion-button color="dark" (click)="presentLoading" expand="block" style="
            width: 100%;     height: 30px;">
                    OK
                </ion-button>
            </ion-list>
            <div class="grid" [hidden]="!ok">

                
                <div class="car"  (click)="aceita()" >
                    <!-- <div class="foto">
                        <img src="../../assets/01(1).jpg" alt="" >
                    </div> -->
                    <div class="foto2">
                        <img src="../../assets/01(1).jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="desc">
                            Hyundai Elantra 2015
                        </div>
                        <div class="cat"> Conforto / Luxo</div>

                        <div class="tempo">
                            Chegar em 02:00
                        </div>
                        <div class="preco">
                            R$ - {{valor1}} 
                        </div>
                    </div>
                </div>
            
       
                <div class="car"  (click)="aceita()" >
                    <div class="foto2">
                        <img src="../../assets/01(2).jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="desc">
                            Fiat Freemont 2015 
                        </div>
                        <div class="cat">
                            7 lugares
                        </div>
                        <div class="tempo">
                           Chegar em 02:50
                        </div>

                        <div class="preco">
                              R$ - {{valor2}} 
                        </div>
                    </div>
                </div>
         
                <div class="car"  (click)="aceita()" >
                    <div class="foto2">
                        <img src="../../assets/01(3).jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="desc">
                           Nissan March 2016 
                        </div>
                        <div class="cat">Basico
                        </div>
                        <div class="tempo">
                            Chegar em 03:20
                        </div>
                        <div class="preco">
                              R$ - {{valor3}} 
                        </div>
                    </div>
                </div>
         
                <div class="car"  (click)="aceita()" >
                    <div class="foto2">
                        <img src="../../assets/01(4).jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="desc">
                           Honda Civic 2015 

                        </div>
                        <div class="cat"> Conforto / luxo
                        </div>
                        <div class="tempo">
                            Chegar em 01:00

                        </div>
                        <div class="preco">
                             R$ - {{valor4}} 
                        </div>
                    </div>
                </div>
            


            </div>
            <!-- <ion-grid class="ion-margin-vertical">
                <ion-row>


                    <ion-col size="3">
                        <img src="https://via.placeholder.com/65/cccccc">
                        <span class="category">UberX</span>
                        <span>{{valor1}}</span>




                    </ion-col>


                    <ion-col size="3">
                        <img src="https://via.placeholder.com/65/cccccc">
                        <span class="category">Select</span>
                        <span>{{valor2}}</span>
                    </ion-col>




                    <ion-col size="3">
                        <img src="https://via.placeholder.com/65/cccccc">
                        <span class="category">Black</span>
                        <span>{{valor3}}</span>
                    </ion-col>



                    <ion-col size="3">
                        <img src="https://via.placeholder.com/65/cccccc">
                        <span class="category">Black</span>
                        <span>{{valor4}}</span>
                    </ion-col>



                </ion-row>
            </ion-grid>


            <ion-button color="dark" expand="block">
                Confirmar Corrida
            </ion-button> -->



        </div>
        </div>
    </div>
</ion-content>